<host-layout>

  <host-header-content appHeader>
    <div class="app-header-title-bar" headerBrand>
      <h1 class="app-name">RVA.js Microfrontends</h1>
    </div>
  </host-header-content>
  <main>
    <section class="container">
      <app-remote remote="profile" [dispatch]="eventBus.dispatch"/>
    </section>
    <section class="container">
      <app-remote remote="books" [listenFor]="eventBus.subscribeToEvents"></app-remote>
    </section>
  </main>
  <router-outlet></router-outlet>

  <host-footer-content appFooter> Version 1.0 </host-footer-content>

</host-layout>
