.selected-book-card {
  padding: .5rem 2rem 1rem 2rem;
}

.selected-book-control-row {
  display: flex;
  justify-content: flex-end;
}

.selected-book-info {
  display: flex;
  gap: 3rem;
  dt {
    font-weight: 600;
  }
  dd {
    margin-inline-start: 0;
  }
}